---
import NotionParagraph from "./NotionParagraph.astro";
import NotionHeadingTwo from "./NotionHeadingTwo.astro";
import NotionImage from "./NotionImage.astro";
import { Debug } from "astro/components";
let { content, pubDate } = Astro.props;
---

<div
  class="sm:max-w-4xl sm:mx-auto mx-10 bg-slate-700 p-6 rounded-lg text-left"
>
  <p class="italic text-lg mb-8">Published: {pubDate}</p>
  {
    content.map((block: { type: unknown }) => {
      switch (block.type) {
        case "paragraph":
          return <NotionParagraph block={block} />;
        case "heading_1":
          return <h2>This is a Heading 1</h2>;
        case "heading_2":
          return <NotionHeadingTwo block={block} />;
        case "quote":
          return <p>THIS IS A QUOTE</p>;
        case "code":
          return <code>THIS IS CODE</code>;
        case "image":
          return <NotionImage block={block} />;
        default:
          return <Debug block={block} />;
      }
    })
  }
</div>
