---
import NotionParagraph from "./NotionParagraph.astro";
import NotionHeadingOne from "./NotionHeadingOne.astro";
import NotionHeadingTwo from "./NotionHeadingTwo.astro";
import NotionImage from "./NotionImage.astro";
import NotionQuote from "./NotionQuote.astro";
import NotionCode from "./NotionCode.astro";
import NotionListItem from "./NotionListItem.astro";

import { Debug } from "astro/components";
let { content, pubDate } = Astro.props;
---

<article
  class="sm:max-w-4xl sm:mx-auto mx-10 bg-slate-700 p-6 rounded-lg text-left mb-10"
>
  <p class="italic text-lg mb-8">Published: {pubDate}</p>
  {
    content.map((block: { type: unknown }) => {
      switch (block.type) {
        case "paragraph":
          return <NotionParagraph block={block} />;
        case "heading_1":
          return <NotionHeadingOne block={block} />;
        case "heading_2":
          return <NotionHeadingTwo block={block} />;
        case "quote":
          return <NotionQuote block={block} />;
        case "code":
          return <NotionCode block={block} />;
        case "image":
          return <NotionImage block={block} />;
        case "numbered_list_item":
          return <NotionListItem block={block} />;
        default:
          return <Debug block={block} />;
      }
    })
  }
</article>
