---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageContainer from "../components/ImageContainer.astro";
import headshot from "../images/IMG_0215.jpg";
import { getRandomHobby } from "../util/helpers";

const pageTitle: string = "About";

const identity = {
  firstName: "JJ",
  lastName: "Vega",
  country: "United States",
  occupation: "Lead Coding Instructor and Content Creator",
  hobbies: [
    "strength training",
    "yoga",
    "hiking",
    "gaming",
    "cooking",
    "adult coloring",
  ],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Tailwind CSS",
  "React",
  "Astro",
  "Node.js",
  "Express.js",
  "Git/GitHub",
  "MySQL",
  "Next.js",
  "Python",
  "Django",
  "Adobe Xd",
  "Postman",
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <p class="mb-8 text-xl">💻 Web Developer. ❤️ Coach. 🐶 Dog Dad.</p>
      <ImageContainer url={headshot} alt="jj headshot" width="360" />
      <h2 class="text-2xl font-bold my-5">Facts</h2>
      <ul>
        <li>My name is {identity.firstName} {identity.lastName}.</li>
        <li>
          I live in the {identity.country} and work as a {identity.occupation}.
        </li>
        {
          identity.hobbies.length >= 2 && (
            <li>
              Two of my hobbies are {getRandomHobby(identity)} and{" "}
              {getRandomHobby(identity)}.
            </li>
          )
        }
      </ul>
      <h2 class="text-2xl font-bold my-5">My Skills</h2>
      <ul>
        {skills.map((skill) => <li>{skill}</li>)}
      </ul>
    </BaseLayout>
  </body>
</html>
