---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageContainer from "../components/ImageContainer.astro";
import headshot from "../images/IMG_0215.jpg";
import SkillsGrid from "../components/SkillsGrid.astro";

const pageTitle: string = "About";

const identity = {
  firstName: "JJ",
  lastName: "Vega",
  location: "Signal Mountain, TN",
  occupation: "Lead Coding Instructor and Content Creator",
};
---

<BaseLayout pageTitle={pageTitle} title={pageTitle}>
  <div class="grid md:grid-cols-2 gap-6 md:place-content-center mt-10 p-10">
    <div class="self-center shadow-xl rounded-lg bg-slate-700 h-full p-5">
      <div class="mt-16">
        <ImageContainer url={headshot} alt="jj headshot" width="180" />
        <p class="mb-8 text-xl">💻 Web Developer. ❤️ Coach. 🐶 Dog Dad.</p>
      </div>
    </div>
    <div class="shadow-xl p-8 bg-slate-700 rounded-xl">
      <div class="mb-14">
        <h2 class="text-3xl font-bold">Facts</h2>
        <ul class="mt-4 text-xl">
          <li>
            I live in {identity.location} and work as a {identity.occupation}.
          </li>
          <li class="mt-3">
            I'm passionate about natural living and being outdoors as much as
            possible.
          </li>
        </ul>
      </div>
      <div>
        <h2 class="text-3xl font-bold mt-8 mb-5">Skills</h2>
        <SkillsGrid />
      </div>
    </div>
  </div>
</BaseLayout>
