---
import BaseLayout from "../layouts/BaseLayout.astro";
import Title from "../components/Title.astro";

const pageTitle: string = "About";

const identity = {
  firstName: "JJ",
  lastName: "Vega",
  country: "United States",
  occupation: "Lead Coding Instructor and Content Creator",
  hobbies: [
    "strength training",
    "yoga",
    "hiking",
    "gaming",
    "cooking",
    "adult coloring",
  ],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Tailwind CSS",
  "React",
  "Astro",
  "Node.js",
  "Express.js",
  "Git/GitHub",
  "MySQL",
  "Next.js",
  "Python",
  "Django",
  "Adobe Xd",
  "Postman",
];

function getRandomHobby() {
  return identity.hobbies[Math.floor(Math.random() * identity.hobbies.length)];
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h2 class="text-2xl font-bold my-5">Facts About Me:</h2>
      <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
          I live in {identity.country} and work as a {identity.occupation}.
        </li>
        {
          identity.hobbies.length >= 2 && (
            <li>
              Two of my hobbies are {getRandomHobby()} and {getRandomHobby()}.
            </li>
          )
        }
      </ul>
      <h2 class="text-2xl font-bold my-5">My Skills Are:</h2>
      <ul>
        {
          skills.map((skill) => (
            <li class="text-green-500 font-bold">{skill}</li>
          ))
        }
      </ul>
    </BaseLayout>
  </body>
</html>
